---
// Style Imports
import '@/styles/globals.css'
// Component Imports
import { Button } from "@/components/ui/button"
import { Calculator } from "@/components/ui/calculator"

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro + TailwindCSS</title>
	</head>

	<body>
		<div class="grid place-items-center h-screen content-center">
		<p>I want to make $50,000</p>
		<p>in 3 months by selling a</p>
		<p>$100 course.</p>
		</div>
		<Calculator client:idle />
	</body>
</html>
